<div class='row'>
  <a href='/project/{{id}}'>
    <div class='col s8'>
      <h3>{{name}}</h3>
      <p>{{date_created}}</p>
    </div>
    <div class='col s4'>
      <button
        id='deleteBtn'
        class='waves-effect waves-light btn'
      >Delete</button>
    </div>
  </a>
</div>